name: Launch unit tests

on:
  workflow_dispatch:
    branches: [ master, support/*, develop]   
  push:
    branches: [ master, support/*, develop]   
  pull_request:
    branches: [ master, support/*, develop]  

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x         

    - name: Install dependencies
      run: dotnet restore ./Woopsa.sln
      working-directory: ./Sources/DotNet
      
    - name: Build
      run: dotnet build ./Woopsa.sln --configuration Release --no-restore
      working-directory: ./Sources/DotNet
      
    - name: Test
      run: dotnet test ./Woopsa.sln --no-restore --configuration Release --filter TestCategory!=Performance --verbosity normal
      working-directory: ./Sources/DotNet
